{% extends "admin/edit.html" %}

{% block form_action %}/api/books/{{ book_key }}/edit/{% endblock %}

{% block form_fields %}

  <label for="isbn">
    <span class="prefix">isbn</span>
    <input type="text" name="isbn" value="{% if book.isbn_13 %}{{ book.isbn_13 }}{% else %}{{ book.isbn_10 }}{% endif %}" class="required isbn" />
    <span class="suffix">
      Find your book: <a href="http://openlibrary.org" target="_blank">openlibrary.org</a>.
      <a href="{{ book.info_url }}" target="_blank"><img class="cover" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn_10 }}-M.jpg" /></a>
    </span>
  </label>

  <label for="isbn_10">
    <span class="prefix">isbn 10 (calculated)</span>
    <input type="text" name="isbn_10" readonly="readonly" value="{{ book.isbn_10 }}" class="required" />
    <span class="suffix"></span>
  </label>

  <label for="isbn_13">
    <span class="prefix">isbn 13 (calculated)</span>
    <input type="text" name="isbn_13" readonly="readonly" value="{{ book.isbn_13 }}" class="required" />
    <span class="suffix"></span>
  </label>

  <label for="title">
    <span class="prefix">title</span>
    <input type="text" name="title" readonly="readonly" value="{{ book.title }}" class="required" />
    <span class="suffix"></span>
  </label>
  <label for="authors">
    <span class="prefix">authors</span>
    <input type="text" name="authors" readonly="readonly" value="{{ book.authors }}" class="required" />
    <span class="suffix"></span>
  </label>
  <label for="info_url">
    <span class="prefix">information url</span>
    <input type="text" name="info_url" readonly="readonly" value="{{ book.info_url }}" class="required url" />
    <span class="suffix"><a href="{{ book.info_url }}" target="_blank">More information</a></span>
  </label>

{% endblock %}

