{% extends "admin/edit.html" %}


{% block form_action %}/api/articles/{{ article_key }}/edit/{% endblock %}

{% block form_fields %}
  <label for="title">
    <span class="prefix">title</span>
    <input type="text" name="title" value="{{ article.title }}" />
    <span class="suffix">Changing the title for an article may break links to it.</span>
  </label>

  <label for="slug_title">
    <span class="prefix">slug title</span>
    <input type="text" name="slug_title" readonly="readonly" value="{{ article.slug_title }}" />
    <span class="suffix">Example URL component: /article/{{ article.when_published|datetimeformat("%Y/%m/%d") }}/<span class="url_slug">{{ article.slug_title }}</span></span>
  </label>

  <label for="section_type">
    <span class="prefix">section type {{ section_type }}</span>
    <select name="section_type">
    {% for section_type in section_types %}
    <option value="{{ section_type }}" {% if section_type == article.section_type %}selected="selected"{% endif %}>{{ section_type }}</option>
    {% endfor %}
    </select>
    <span class="suffix"></span>
  </label>

  <label for="content">
    <span class="prefix">content</span>
    <textarea name="content" cols="70" rows="20">{{ article.content }}</textarea>
    <span class="suffix"></span>
  </label>
{% endblock %}

