{% extends "admin/new.html" %}


{% block form_action %}/api/articles/new/{% endblock %}

{% block form_fields %}
  <label for="title">
    <span class="prefix">title</span>
    <input type="text" name="title" value="" />
    <span class="suffix"></span>
  </label>

  <label for="slug_title">
    <span class="prefix">slug title</span>
    <input type="text" name="slug_title" readonly="readonly" value="" />
    <span class="suffix">Example URL component: /article/{{ today|datetimeformat("%Y/%m/%d") }}/<span class="url_slug"></span></span>
  </label>

  <label for="section_type">
    <span class="prefix">section type</span>
    <select name="section_type">
    {% for section_type in section_types %}
    <option value="{{ section_type }}">{{ section_type }}</option>
    {% endfor %}
    </select>
    <span class="suffix"></span>
  </label>

  <label for="content">
    <span class="prefix">content</span>
    <textarea name="content" cols="70" rows="20"></textarea>
    <span class="suffix"></span>
  </label>
{% endblock %}

