{% extends "base.html" %}

{% block tag_header_additional_content %}
    <h1 class="title">About the Alumni.</h1>
    #*<h2 class="subtitle">Why the alumni exists?</h2>*#
{% endblock %}

{% block tag_trunk_content %}
    {{ about_content }}
    <div id="about_scrollable">        
        <ul id="about_alumni">
          <li>
            <img src="{{ MEDIA_URL }}image/about/1.jpg" title="about" />
            <h1>Green Day: American Idiot</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}image/about/2.jpg" title="ert" />
            <h1>Max Payne II</h1>
            <p>ease of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}image/about/3.jpg" title="about" />
            <h1>Max Payne III</h1>
            <p>but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}image/about/4.jpg" title="about" />
            <h1>Bon Jovi: Lost Highway</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not.</p>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}image/about/5.jpg" title="about" />
            <h1>Bon Jovi</h1>
            <p>Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </li>
        </ul>
    </div>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
window.scripts.push("{{ MEDIA_URL }}script/page/about{{ MINIFIED }}.js");
</script>
{% endblock %}
