<!doctype html><html><head>
<meta name="verify-v1" content="KI7FCk3ZgACVoQ+YKUk+2rCXWlyF51E83Ke8LFp076Y=" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta charset="utf-8" />
<title>{% block tag_title %}{{ APPLICATION_TITLE }}{% endblock %}</title>

{% block unsupported_browser %}
#*<!--[if IE]>
<script type="text/javascript">
window.location.href="/unsupported/browser/";
</script>
<![endif]-->*#
{% endblock %}

{% block updateie6 %}
<!--[if IE 6]>
<script type="text/javascript">
  /*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\"   src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; }
var IE6UPDATE_OPTIONS = {
icons_path: "http://static.ie6update.com/hosted/ie6update/images/"
}
</script>
<script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script>
<![endif]-->
{% endblock %}

<!--[if gt IE 6]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

{% block tag_head %}{% endblock %}
</head><body>
{% block chrome_frame_plugin %}
<!--[if lt IE 7]>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<div id="chrome_frame_plugin_placeholder"></div>
<script type="text/javascript">CFInstall.check({node:"chrome_frame_plugin_placeholder"});</script>
<![endif]-->
{% endblock %}
{% block tag_body %}{% endblock %}

{% block tag_scripts_prefix %}
<script type="text/javascript">
$LOADER_SCRIPT
window.scripts=["{{ JQUERY_URL }}"];
</script>
{% endblock %}
{% block tag_scripts_base %}{% endblock %}
{% block tag_scripts %}{% endblock %}
{% block tag_scripts_suffix %}
<script type="text/javascript">
getScripts(window.scripts);
</script>
{% endblock %}
{% block tag_scripts_final %}{% endblock %}

{% block tag_scripts_analytics %}
{{ ANALYTICS_CODE }}

<script type="text/javascript">
  var _wh = ((document.location.protocol=='https:') ? "https://sec1.woopra.com" : "http://static.woopra.com");
  document.write(unescape("%3Cscript src='" + _wh + "/js/woopra.js' type='text/javascript'%3E%3C/script%3E"));
</script>

{% endblock %}


</body></html>

