{% extends "base_site.html" %}

{% block tag_head %}
	{% block tag_stylesheets %}
    #*<link rel="stylesheet" href="{{ MEDIA_URL }}css/generic{{ MINIFIED }}.css" type="text/css" media="screen" charset="utf-8" />*#
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen{{ MINIFIED }}.css" type="text/css" media="screen" charset="utf-8" />
	{% endblock %}
	{% block tag_additional_stylesheets %}{% endblock %}
{% endblock %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="header">
			{% block tag_header_content %}
			<ul class="logobar horizontal clearfix">
			    <li>
			        <a id="nav_logo" href="/">
			            #*<img src="{{ MEDIA_URL }}image/logo/logo_with_text.png" alt="MILS Alumni" />*#
			        </a>
			    </li>
			</ul>
			<ul class="navlinks">
			    {% block tag_navlinks %}
			    <li><a id="nav_about" href="/about/" title="About"></a></li>
			    <li><a id="nav_blog" href="/blog/" title="Alumni Blog"></a></li>
			    <li><a id="nav_students_corner" href="/students/" title="Students' Corner"></a></li>
			    <li><a id="nav_photos" target="_blank" href="{{ PICASA_WEB_ALBUMS_PUBLIC_URL }}" title="Nostalgia"></a></li>
			    <li><a id="nav_announcements" href="/training_announcements/" title="Announcements"></a></li>
			    <li><a id="nav_sponsors" href="/sponsors/" title="Our Resources"></a></li>
			    <li><a id="nav_logout" href="/account/logout/" title="Logout"></a></li>
    			{% endblock %}
			</ul>
			{% endblock %}
			{% block tag_header_additional_content %}
			{% endblock %}
		</div>
		{% endblock %}
		{% block tag_trunk %}
		<div id="trunk">
			{% block tag_trunk_content %}
			{% endblock %}
		</div>
		{% endblock %}
		{% block tag_footer %}
		<div id="footer">
			{% block tag_footer_content %}
			<p>Content Copyright &copy; 2009 <a href="/">MILS Alumni.</a> All rights reserved.</p>
			<p>Portions Copyright &copy; 2009 <a href="http://www.happychickoo.com">HappyChickoo.</a> Designed and developed by <a href="http://www.happychickoo.com">HappyChickoo.</a></p>
			<p><a href="http://github.com/yesudeep/mils-secure/issues">Please report problems</a> when you come across any.</p>
			<p></p>
			{% endblock %}
		</div>
		{% endblock %}
		{% endblock %}
	</div>
	{% endblock %}
{% endblock %}

{% block tag_scripts_base %}
<script type="text/javascript">
    window.scripts.push(
        {% if LOCAL %}
        "{{ MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js",
        {% else %}
        "http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js",
        {% endif %}
        "{{ MEDIA_URL }}script/page/base{{ MINIFIED }}.js");
</script>
{% endblock %}
