{% extends "base.html" %}

{% block tag_header_additional_content %}
    <h1 class="title">Training announcement has been canceled.</h1>
    <p>We value your interest in {{ training_announcement.title }} and your registration has been recorded.  However, the training announcement currently stands canceled.  We hope we will be able to accomodate you for the next interesting event.</p>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
setTimeout(function(){
  window.top.location = '/';
}, 6000);
</script>
{% endblock %}

